<h1>About Us</h1>
<a href="{% url 'countwords' %}">CountWords</a>
<p>
  Their About Us page stands out by showcasing some of their unique and creative
  projects. No number of words could hope to tell one of their potential clients
  nearly as much as these pictures can. In this case, the 25 pictures featured
  on Band’s About Us page are worth much more than the 170 actual words you’ll
  read on the page. The magical visuals and overall simple look and feel makes
  this About Us page one of our top picks.Their About Us page stands out by
  showcasing some of their unique and creative projects. No number of words
  could hope to tell one of their potential clients nearly as much as these
  pictures can. In this case, the 25 pictures featured on Band’s About Us page
  are worth much more than the 170 actual words you’ll read on the page. The
  magical visuals and overall simple look and feel makes this About Us page one
  of our top picks.
</p>
